@font-face {
  font-family: ProzaLibre-Regular;
  src: url("../assets/fonts/ProzaLibre-Regular.ttf");
}
@font-face {
  font-family: ProzaLibre-Bold;
  src: url("../assets/fonts/ProzaLibre-Bold.ttf");
}
